* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: white;
  position: relative;
  z-index: 1000;
}

.navbarlogo {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #333;
}

.navlinks {
  display: flex;
  gap: 40px;
  font-size: 18px;
}

.navlinks a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-family: system-ui, sans-serif;
}

.navlinks a:hover {
  color: #f57c00;
}

.navbaricons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  cursor: pointer;
}

.menuicon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navlinks {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
  }

  .navlinks.open {
    display: flex;
  }

  .menuicon {
    display: block;
  }
}
